<div class="p-6 mb-8 text-black" style="background-color: #8CB04E;">
    <h2 class="font-oswald font-bold text-2xl uppercase mb-4">ShrekFest 2026 Schedule</h2>
    <div class="font-inter text-base space-y-2">
        <p><b>5pm</b> <i>Tales From The Swamp</i>: Shrek-Themed Burlesque and Comedy Show</p>
        <p><b>6:30pm</b> Refreshments and screening of Shrek</p>
        <p><b>8pm</b> <i>Laugh-Along, Live!</i> show of Shrek 2</p>
    </div>
</div>
